/******************************************************************
* If use min-width for resposnive 
* on breakpoitn variables add 1px in code
******************************************************************/

$breakpoints: (
  desktop: 1920px,
  laptop: 1660px,
  mac: 1440px,
  lt: 1366px,
  ls: 1280px,
  lg: 1199px,
  ipad: 1024px,
  md: 991px,
  sm: 767px,
  mb: 575px,
  iphone: 420px,
  xs: 350px,
);
